# gradle
.gradle
build
gradle-app.setting

# GMCP plugin
/minecraft

# eclipse
.settings
.metadata
.classpath
.project
bin

# intellij
out
*.idea
*.iml
*.ipr
*.iws

#mkdocs
site

# testing
/repo/

# Автоматически генерируемые шаблоны (синхронизируются из src/templates/java)
src/main/resources/GradleStart.java
src/main/resources/GradleStartServer.java
src/main/resources/net/minecraftforge/gradle/GradleStartCommon.java
src/main/resources/net/minecraftforge/gradle/OldPropertyMapSerializer.java
src/main/resources/net/minecraftforge/gradle/tweakers/

